$primaryColor: #8A1C7C; // rgb(255,147,0)
$secondaryColor: #542344; // rgb(204,67,63)
$contrastColor: #bfd1e5; // rgb(137,178,186)
$darkColor: rgba(20,20,20,1); // rgb(37,35,47)
$lightColor: #f9f9fa; // rgb(249,249,250)

// https://coolors.co/141414-f9f9fa-832232-5d737e-fff07c

// https://coolors.co/141414-f9f9fa-8a1c7c-da4167-f0bcd4

// https://coolors.co/141414-f9f9fa-8a1c7c-542344-bfd1e5


html, body, p, a, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

input, button, submit { border:none; }

html, body {
  height: 100%;
}

body {
  background-color: $lightColor;
  color: $lightColor;
}

#messages {
  position: fixed;
  bottom: -60px;
  width: 100%;
  height: 60px;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: hide;
  animation-duration: 4s;
  ul {
    text-decoration: none;
    list-style-type: none;
  }
  .error {
    color: #a94442;
    background-color: #f2dede;
    padding: 40px;
    width: 100%;
  }
  .success {
    color: #155724;
    background-color: #d4edda;
    padding: 40px;
    width: 100%;
  }
}

@keyframes hide {
  0%    {bottom: -60px;}
  10%   {bottom: 0;}
  90%   {bottom: 0;}
  100%  {bottom: -60px;}
}

#header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
  overflow: hidden;
  #header-logo {
    color: lighten($darkColor, 10%);
    padding: 30px;
    font-size: 1.4em;
    font-weight: 700;
    z-index: 2;
    cursor: pointer;
  }
  a {
    color: $lightColor;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: transparentize($darkColor, 0.15);
    cursor: pointer;
    margin-left: -4px;
    border-radius: 2px;
    transition: 0.2s all ease;
  }
  a:hover {
    color: $darkColor;
    background-color: transparentize($lightColor, 0.15);
    transition: 0.2s all ease;
  }
  p {
    margin-right: 20px;
    padding: 20px 0;
    color: $darkColor;
    font-weight: 400;
    display: inline-block;
    font-size: 0.9em;
    span {
      font-weight: 700;
    }
  }
  .links-center {
    position: absolute;
    width: 100%;
    text-align: center;
    a {
      margin: 0 5px;
    }
  }
  .links-right {
    z-index: 2;
    a {
      color: $lightColor;
      background-color: transparentize($primaryColor, 0.1);
    }
    a:hover {
      color: $darkColor;
      background-color: transparentize($lightColor, 0.15);
      transition: 0.2s all ease;
    }
  }
}

#home {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249,249,250,0) 0%, rgba(249,249,250,1) 100%);
  .home-content {
    width: 70%;
    position: absolute;
    top: 25%;
    left: 15%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 5em;
      font-weight: 700;
      color: lighten($darkColor, 10%);
      margin-bottom: 20px;
      span {
        color: $darkColor;
        font-weight: 900;
      }
    }
    h2 {
      font-size: 1.2em;
      font-weight: 400;
      color: lighten($darkColor, 20%);
      margin-bottom: 60px;
      line-height: 1.6em;
      span {
        color: lighten($darkColor, 10%);
        font-weight: 900;
      }
    }
    .buttons {
      a {
        color: $lightColor;
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
        padding: 15px 30px;
        background-color: transparentize($primaryColor, 0.1);
        margin: 0 20px 0 0;
        cursor: pointer;
        border-radius: 2px;
        transition: 0.2s all ease;
      }
      a:hover {
        color: $darkColor;
        background-color: transparentize($lightColor, 0.15);
        transition: 0.2s all ease;
      }
    }
  }
  #home-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

#login, #register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249,249,250,0) 0%, rgba(249,249,250,1) 100%);
  form {
    width: 30%;
    .form-item {
      padding: 10px 0;
      label {
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        color: lighten($darkColor, 10%);
      }
      input {
        font-family: 'Roboto', sans-serif;
        padding: 15px;
        margin: 10px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 500;
        box-sizing : border-box;
        background-color: transparentize($darkColor, 0.3);
        color: $lightColor;
        border-radius: 2px;
      }
      input:focus {
        outline: none;
      }
      ::placeholder {
        color: rgba(249,249,250,0.3);
      }
      .submit {
        color: $lightColor;
        padding: 15px 30px;
        margin-top: 20px;
        background-color: transparentize($darkColor, 0.15);
        border-radius: 2px;
        font-weight: 300;
        text-transform: uppercase;
        cursor:pointer;
        transition: 0.2s all ease;
      }
      .submit:hover {
        color: $darkColor;
        background-color: transparentize($lightColor, 0.15);
        transition: 0.2s all ease;
      }
    }
  }
  #login-background, #register-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

#searchDiv {
  padding-top: 80px;
  #searchForm {
    width: 100%;
    position: relative;
    input {
      font-family: 'Roboto', sans-serif;
      padding: 1rem 0;
      width: 100%;
      background-color: transparentize($darkColor, 0.15);
      color: $lightColor;
      font-size: 1em;
      font-weight: 500;
      transition: 0.2s all ease;
      text-align: center;
    }
    input:focus {
      background-color: transparentize($darkColor, 0.3);
      padding: 1.5rem 0;
      transition: 0.2s all ease;
      outline: none;
    }
    input:hover, {
      background-color: transparentize($darkColor, 0.3);
      padding: 1.5rem 0;
      transition: 0.2s all ease;
      z-index: 1;
    }
    input:hover::-webkit-input-placeholder {
      opacity: 0.8;
      color: $lightColor;
      transition: 0.2s all ease;
    }
    input:focus::-webkit-input-placeholder {
      opacity: 0;
    }
    ::placeholder {
      opacity: 0.8;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: lighten($darkColor, 40%);
      text-align: center;
      transition: 0.2s all ease;
    }
  }
}

#content {
  width: 100%;
  min-height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249,249,250,0.5) 0%, rgba(249,249,250,1) 100%);
  #content-background {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

#movies, #series {
  #filters {
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
    a {
      font-size: 1em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      border-radius: 2px;
      cursor:pointer;
      transition: 0.2s all ease;
      padding: 15px;
      color: $lightColor;
      background-color: lighten($darkColor, 10%);
      margin: 10px 0 0 10px;
      float: left;
      transition: 0.2s all ease;
    }
    .selected {
      background-color: $primaryColor;
      transition: 0.2s all ease;
    }
  }
}

#movies-user, #series-user {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
  h3 {
    width: 100%;
    text-align: center;
  }
  .movie,.series {
    position: relative;
    width: 10%;
    height: 14.85vw;
    overflow: hidden;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scale(1.01);
      transition: 0.4s all ease;
    }
    .text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      text-align: center;
      transition: 0.4s background-color ease;
      h5 {
        font-size: 1em;
        font-weight: 700;
        padding: 20px;
        position: absolute;
        opacity: 0;
        text-transform: uppercase;
        overflow: hidden;
      }
    }
  }
  .movie:hover,.series:hover {
    img {
      transform: scale(1.1);
      transition: 0.4s all ease;
    }
    .text {
      background-color: transparentize($darkColor, 0.15);
      transition: 0.4s background-color ease;
      h5 {
        opacity: 1;
      }
    }
  }
  .title-movies, .title-series {
    width: 10%;
    height: 14.85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparentize($lightColor, 0.5);
    h6 {
      color: $darkColor;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
      span {
        font-weight: 700;
        font-size: 4em;
      }
    }
  }
}

// grid for movies
#searchResult {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: flex-start;
  .movie-item {
    position: relative;
    width: 20%;
    height: 29.75vw;
    overflow: hidden;
    cursor:pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: scale(1.01);
      transition: 0.4s all ease;
      z-index: -1;
    }
    .text {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparentize($darkColor, 1);
      transition: 0.4s all ease;
      display: flex;
      justify-content: center;
      align-items: center;
      h5 {
        text-align: center;
        color: transparentize($lightColor, 1);
        font-size: 2em;
        font-weight: 700;
        padding: 20px;
        text-transform: uppercase;
        transition: 0.4s all ease;
      }
      .type {
        padding: 10px;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.9em;
        transition: 0.2s all ease;
        position: absolute;
        color: $lightColor;
        background-color: transparentize($darkColor, 0.15);
        bottom: 0;
        right: 0;
        margin: 0;
      }
    }
  }
  .movie-item:hover {
    img {
      transform: scale(1.1);
      transition: 0.4s all ease;
    }
    .text {
      background-color: transparentize($darkColor, 0.15);
      transition: 0.4s all ease;
      h5 {
        color: transparentize($lightColor, 0);
        transition: 0.4s all ease;
      }
    }
  }
}

#screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  position: relative;
  .total-score {
    color: $lightColor;
    padding: 12px;
    background-color: transparentize($darkColor, 0.15);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 3em;
    }
  }
  .user-rating {
    color: $lightColor;
    padding: 12px;
    background-color: transparentize($darkColor, 0.15);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 3em;
    }
  }
  img {
    max-height: 100%;
    max-width: 40%;
  }
  .text {
    margin: 40px auto;
    width: 40%;
    color: $darkColor;
    p {
      font-weight: 400;
      margin-bottom: 20px;
    }
    .title {
      font-size: 2.4em;
      font-weight: 700;
      text-transform: uppercase;
    }
    .genre {
      font-size: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
      color: $primaryColor;
    }
    .plot {
      line-height: 1.6em;
      opacity: 0.9;
    }
    .released {
      margin-bottom: 40px;
      span {
        text-transform: uppercase;
        opacity: 0.5;
      }
    }
    .submit, .imdb, .trailer, .remove, .rate-button {
      font-size: 1em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      border-radius: 2px;
      cursor:pointer;
      transition: 0.2s all ease;
      margin-bottom: 20px;
      padding: 15px;
      color: $lightColor;
      background-color: lighten($darkColor, 10%);
      transition: 0.2s all ease;
    }
    .submit, .remove {
      float: right;
    }
    .trailer, .imdb, .rate-button {
      margin-right: 20px;
      float: left;
    }
    .submit:hover {
      color: $lightColor;
      background-color: $secondaryColor;
    }
    .remove:hover {
      color: $lightColor;
      background-color: red;
    }
    .trailer:hover, .rate-button:hover {
      color: $darkColor;
      background-color: transparentize($lightColor, 0.15);
    }
    .imdb:hover {
      background-color: rgba(245,197,24,1);
      color: $darkColor;
    }
    .remove:hover, .submit:hover, .trailer:hover, .imdb:hover, .rate-button:hover {
      transition: 0.2s all ease;
    }
  }
  #rating {
    display: none;
    z-index: 1;
    background-color: transparentize($darkColor, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    .rating-integer {
      width: 10%;
      height: 100%;
      transition: 0.4s all ease;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      p {
        position: absolute;
        text-align: center;
        width: 100%;
        overflow: hidden;
        font-size: 20em;
        opacity: 0.2;
        font-weight: 700;
        color: $lightColor;
      }
      .rating-decimal {
        z-index: 2;
        width: 10%;
        height: 100%;
        transition: 0.4s all ease;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        p {
          position: absolute;
          width: 100%;
          overflow: hidden;
          font-size: 5em;
          opacity: 0;
          font-weight: 700;
          transform: scale(0.5);
          transition: 0.4s all ease;
          color: $lightColor;
        }
      }
      .rating-decimal:hover {
        width: 40%;
        background-color: transparentize($lightColor, 0.5);
        transition: 0.4s all ease;
        p {
          opacity: 1;
          transform: scale(1);
          transition: 0.4s all ease;
        }
      }
    }
    .rating-integer:hover {
      width: 60%;
      background-color: transparentize($lightColor, 0.9);
      transition: 0.4s all ease;
    }
    .rating-form {
      display: none;
    }
  }
}
