extends layout

block content
  h1 #{title}
  form(method='POST', action='/movies/edit/'+movie._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text', value=movie.title)
    #form-group
      label Author:
      input.form-control(name='author', type='text', value=movie.author)
    #form-group
      label Body:
      textarea.form-control(name='body')= movie.body
    br
    input.btn.btn-primary(type='submit',value='Submit')
