<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>cinema.me</title>
  </head>
  <body>

    <div id="header">
      <h1 id="header-logo">cinema.me</h1>
      <% if(locals.user) { %>
      <div class="links-center">
        <a class="menu" href="/">home</a>
        <a class="menu" href="/cinema">my cinema</a>
        <a class="menu" href="/cinema/movies">movies</a>
        <a class="menu" href="/cinema/series">series</a>
      </div>
      <% } %>
      <div class="links-right">
        <% if(locals.user) { %>
        <p>Logged in as <span><%- user.username %></span></p>
        <a href="/users/logout">logout</a>
        <% } else { %>
        <a href="/users/login">login</a>
        <% } %>
      </div>
    </div>

    <%- messages() %>
    <% if(locals.errors) { %>
      <% for (var error in locals.errors) {
        if (Object.prototype.hasOwnProperty.call(locals.errors, error)) { %>
          <div id="messages">
            <ul class="error">
              <li>
                <%- locals.errors[error].msg %>
              </li>
            </ul>
          </div>
        <% }
      } %>
    <% } %>

    <%- defineContent('main') %>

    <!-- <div id="footer">
      <p>Cinema.me - Copyright &copy; 2018 - Tijs Verellen</p>
    </div> -->

    <!-- bootstrap js -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascript/script.js"></script>
  </body>
</html>
