<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>cinema.me</title>
  </head>
  <body>
    <header>
      <h1 id="header-logo">cinema.me</h1>
      <% if(locals.user) { %>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/cinema">My cinema</a>
        <p>Logged in as <span><%- user.username %></span></p>
        <a href="/users/logout">Logout</a>
      <% } else { %>
        <a href="/users/register">Register</a>
        <a href="/users/login">Login</a>
      <% } %>
    </header>

    <%- messages() %>
    <% if(locals.errors) { %>
      <% for (var error in locals.errors) {
        if (Object.prototype.hasOwnProperty.call(locals.errors, error)) { %>
          <div id="messages">
            <ul class="error">
              <li>
                <%- locals.errors[error].msg %>
              </li>
            </ul>
          </div>
        <% }
      } %>
    <% } %>

    <%- defineContent('main') %>

    <div id="footer">
      <p>Cinema.me - Copyright &copy; 2018 - Tijs Verellen</p>
    </div>

    <!-- bootstrap js -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascript/script.js"></script>
  </body>
</html>
