html, body, p, a, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

input, button, submit {
  border: none; }

html, body {
  height: 100%; }

body {
  background-color: #f9f9fa;
  color: #f9f9fa; }

#messages {
  position: fixed;
  bottom: -60px;
  width: 100%;
  height: 60px;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: hide;
  animation-duration: 4s; }
  #messages ul {
    text-decoration: none;
    list-style-type: none; }
  #messages .error {
    color: #a94442;
    background-color: #f2dede;
    padding: 40px;
    width: 100%; }
  #messages .success {
    color: #155724;
    background-color: #d4edda;
    padding: 40px;
    width: 100%; }

@keyframes hide {
  0% {
    bottom: -60px; }
  10% {
    bottom: 0; }
  90% {
    bottom: 0; }
  100% {
    bottom: -60px; } }
#header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
  overflow: hidden; }
  #header #header-logo {
    color: #2e2e2e;
    padding: 30px;
    font-size: 1.4em;
    font-weight: 700;
    z-index: 2;
    cursor: pointer; }
  #header a {
    color: #f9f9fa;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: rgba(20, 20, 20, 0.85);
    cursor: pointer;
    margin-left: -4px;
    border-radius: 2px;
    transition: 0.2s all ease; }
  #header a:hover {
    color: #141414;
    background-color: rgba(249, 249, 250, 0.85);
    transition: 0.2s all ease; }
  #header p {
    margin-right: 20px;
    padding: 20px 0;
    color: #141414;
    font-weight: 400;
    display: inline-block;
    font-size: 0.9em; }
    #header p span {
      font-weight: 700; }
  #header .links-center {
    position: absolute;
    width: 100%;
    text-align: center; }
    #header .links-center a {
      margin: 0 5px; }
  #header .links-right {
    z-index: 2; }
    #header .links-right a {
      color: #f9f9fa;
      background-color: rgba(131, 34, 50, 0.9); }
    #header .links-right a:hover {
      color: #141414;
      background-color: rgba(249, 249, 250, 0.85);
      transition: 0.2s all ease; }

#home {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249, 249, 250, 0) 0%, #f9f9fa 100%); }
  #home .home-content {
    width: 70%;
    position: absolute;
    top: 25%;
    left: 15%;
    display: flex;
    flex-direction: column; }
    #home .home-content h1 {
      font-size: 5em;
      font-weight: 700;
      color: #2e2e2e;
      margin-bottom: 20px; }
      #home .home-content h1 span {
        color: #141414;
        font-weight: 900; }
    #home .home-content h2 {
      font-size: 1.2em;
      font-weight: 400;
      color: #474747;
      margin-bottom: 60px;
      line-height: 1.6em; }
      #home .home-content h2 span {
        color: #2e2e2e;
        font-weight: 900; }
    #home .home-content .buttons a {
      color: #f9f9fa;
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      padding: 15px 30px;
      background-color: rgba(131, 34, 50, 0.9);
      margin: 0 20px 0 0;
      cursor: pointer;
      border-radius: 2px;
      transition: 0.2s all ease; }
    #home .home-content .buttons a:hover {
      color: #141414;
      background-color: rgba(249, 249, 250, 0.85);
      transition: 0.2s all ease; }
  #home #home-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1; }

#login, #register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249, 249, 250, 0) 0%, #f9f9fa 100%); }
  #login form, #register form {
    width: 30%; }
    #login form .form-item, #register form .form-item {
      padding: 10px 0; }
      #login form .form-item label, #register form .form-item label {
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        color: #2e2e2e; }
      #login form .form-item input, #register form .form-item input {
        font-family: 'Roboto', sans-serif;
        padding: 15px;
        margin: 10px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 500;
        box-sizing: border-box;
        background-color: rgba(20, 20, 20, 0.7);
        color: #f9f9fa;
        border-radius: 2px; }
      #login form .form-item input:focus, #register form .form-item input:focus {
        outline: none; }
      #login form .form-item ::placeholder, #register form .form-item ::placeholder {
        color: rgba(249, 249, 250, 0.3); }
      #login form .form-item .submit, #register form .form-item .submit {
        color: #f9f9fa;
        padding: 15px 30px;
        margin-top: 20px;
        background-color: rgba(20, 20, 20, 0.85);
        border-radius: 2px;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s all ease; }
      #login form .form-item .submit:hover, #register form .form-item .submit:hover {
        color: #141414;
        background-color: rgba(249, 249, 250, 0.85);
        transition: 0.2s all ease; }
  #login #login-background, #login #register-background, #register #login-background, #register #register-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1; }

#searchDiv {
  padding-top: 80px; }
  #searchDiv #searchForm {
    width: 100%;
    position: relative; }
    #searchDiv #searchForm input {
      font-family: 'Roboto', sans-serif;
      padding: 1rem 0;
      width: 100%;
      background-color: rgba(20, 20, 20, 0.85);
      color: #f9f9fa;
      font-size: 1em;
      font-weight: 500;
      transition: 0.2s all ease;
      text-align: center; }
    #searchDiv #searchForm input:focus {
      background-color: rgba(20, 20, 20, 0.7);
      padding: 1.5rem 0;
      transition: 0.2s all ease;
      outline: none; }
    #searchDiv #searchForm input:hover {
      background-color: rgba(20, 20, 20, 0.7);
      padding: 1.5rem 0;
      transition: 0.2s all ease;
      z-index: 1; }
    #searchDiv #searchForm input:hover::-webkit-input-placeholder {
      opacity: 0.8;
      color: #f9f9fa;
      transition: 0.2s all ease; }
    #searchDiv #searchForm input:focus::-webkit-input-placeholder {
      opacity: 0; }
    #searchDiv #searchForm ::placeholder {
      opacity: 0.8;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #7a7a7a;
      text-align: center;
      transition: 0.2s all ease; }

#content {
  width: 100%;
  min-height: 100%;
  position: relative;
  background: linear-gradient(to left top, rgba(249, 249, 250, 0.5) 0%, #f9f9fa 100%); }
  #content #content-background {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: -1; }

#movies #filters {
  margin-top: 20px;
  margin-bottom: 20px; }
  #movies #filters a {
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s all ease;
    margin-bottom: 20px;
    padding: 15px;
    color: #f9f9fa;
    background-color: #2e2e2e;
    margin-right: 10px;
    transition: 0.2s all ease; }
  #movies #filters .clicked {
    background-color: red; }
#movies .invisible {
  opacity: 0;
  transition: 0.4s all ease; }
#movies .movie {
  opacity: 1;
  transition: 0.4s all ease; }

#movies-user, #series-user {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap; }
  #movies-user h3, #series-user h3 {
    width: 100%;
    text-align: center; }
  #movies-user .movie, #movies-user .series, #series-user .movie, #series-user .series {
    position: relative;
    width: 10%;
    height: 14.85vw;
    overflow: hidden;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0); }
    #movies-user .movie img, #movies-user .series img, #series-user .movie img, #series-user .series img {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scale(1.01);
      transition: 0.4s all ease; }
    #movies-user .movie .text, #movies-user .series .text, #series-user .movie .text, #series-user .series .text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      text-align: center;
      transition: 0.4s background-color ease; }
      #movies-user .movie .text h5, #movies-user .series .text h5, #series-user .movie .text h5, #series-user .series .text h5 {
        font-size: 1em;
        font-weight: 700;
        padding: 20px;
        position: absolute;
        opacity: 0;
        text-transform: uppercase;
        overflow: hidden; }
  #movies-user .movie:hover img, #movies-user .series:hover img, #series-user .movie:hover img, #series-user .series:hover img {
    transform: scale(1.1);
    transition: 0.4s all ease; }
  #movies-user .movie:hover .text, #movies-user .series:hover .text, #series-user .movie:hover .text, #series-user .series:hover .text {
    background-color: rgba(20, 20, 20, 0.85);
    transition: 0.4s background-color ease; }
    #movies-user .movie:hover .text h5, #movies-user .series:hover .text h5, #series-user .movie:hover .text h5, #series-user .series:hover .text h5 {
      opacity: 1; }
  #movies-user .title-movies, #movies-user .title-series, #series-user .title-movies, #series-user .title-series {
    width: 10%;
    height: 14.85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(249, 249, 250, 0.5); }
    #movies-user .title-movies h6, #movies-user .title-series h6, #series-user .title-movies h6, #series-user .title-series h6 {
      color: #141414;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      overflow: hidden; }
      #movies-user .title-movies h6 span, #movies-user .title-series h6 span, #series-user .title-movies h6 span, #series-user .title-series h6 span {
        font-weight: 700;
        font-size: 4em; }

#searchResult {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: flex-start; }
  #searchResult .movie-item {
    position: relative;
    width: 20%;
    height: 29.75vw;
    overflow: hidden;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0); }
    #searchResult .movie-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: scale(1.01);
      transition: 0.4s all ease;
      z-index: -1; }
    #searchResult .movie-item .text {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(20, 20, 20, 0);
      transition: 0.4s all ease;
      display: flex;
      justify-content: center;
      align-items: center; }
      #searchResult .movie-item .text h5 {
        text-align: center;
        color: rgba(249, 249, 250, 0);
        font-size: 2em;
        font-weight: 700;
        padding: 20px;
        text-transform: uppercase;
        transition: 0.4s all ease; }
      #searchResult .movie-item .text .type {
        padding: 10px;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.9em;
        transition: 0.2s all ease;
        position: absolute;
        color: #f9f9fa;
        background-color: rgba(20, 20, 20, 0.85);
        bottom: 0;
        right: 0;
        margin: 0; }
  #searchResult .movie-item:hover img {
    transform: scale(1.1);
    transition: 0.4s all ease; }
  #searchResult .movie-item:hover .text {
    background-color: rgba(20, 20, 20, 0.85);
    transition: 0.4s all ease; }
    #searchResult .movie-item:hover .text h5 {
      color: #f9f9fa;
      transition: 0.4s all ease; }

#screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  position: relative; }
  #screen .total-score {
    color: #f9f9fa;
    padding: 12px;
    background-color: rgba(20, 20, 20, 0.85);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    text-align: center; }
    #screen .total-score span {
      font-weight: 500;
      font-size: 3em; }
  #screen .user-rating {
    color: #f9f9fa;
    padding: 12px;
    background-color: rgba(20, 20, 20, 0.85);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
    #screen .user-rating span {
      font-weight: 500;
      font-size: 3em; }
  #screen img {
    max-height: 100%;
    max-width: 40%; }
  #screen .text {
    margin: 40px auto;
    width: 40%;
    color: #141414; }
    #screen .text p {
      font-weight: 400;
      margin-bottom: 20px; }
    #screen .text .title {
      font-size: 2.4em;
      font-weight: 700;
      text-transform: uppercase; }
    #screen .text .genre {
      font-size: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
      color: #832232; }
    #screen .text .plot {
      line-height: 1.6em;
      opacity: 0.9; }
    #screen .text .released {
      margin-bottom: 40px; }
      #screen .text .released span {
        text-transform: uppercase;
        opacity: 0.5; }
    #screen .text .submit, #screen .text .imdb, #screen .text .trailer, #screen .text .remove, #screen .text .rate-button {
      font-size: 1em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.2s all ease;
      margin-bottom: 20px;
      padding: 15px;
      color: #f9f9fa;
      background-color: #2e2e2e;
      transition: 0.2s all ease; }
    #screen .text .submit, #screen .text .remove {
      float: right; }
    #screen .text .trailer, #screen .text .imdb, #screen .text .rate-button {
      margin-right: 20px;
      float: left; }
    #screen .text .submit:hover {
      color: #f9f9fa;
      background-color: #FFF07C; }
    #screen .text .remove:hover {
      color: #f9f9fa;
      background-color: #5D737E; }
    #screen .text .trailer:hover, #screen .text .rate-button:hover {
      color: #141414;
      background-color: rgba(249, 249, 250, 0.85); }
    #screen .text .imdb:hover {
      background-color: #f5c518;
      color: #141414; }
    #screen .text .remove:hover, #screen .text .submit:hover, #screen .text .trailer:hover, #screen .text .imdb:hover, #screen .text .rate-button:hover {
      transition: 0.2s all ease; }
  #screen #rating {
    display: none;
    z-index: 1;
    background-color: rgba(20, 20, 20, 0.9);
    position: absolute;
    width: 100%;
    height: 100%; }
    #screen #rating .rating-integer {
      width: 10%;
      height: 100%;
      transition: 0.4s all ease;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden; }
      #screen #rating .rating-integer p {
        position: absolute;
        text-align: center;
        width: 100%;
        overflow: hidden;
        font-size: 20em;
        opacity: 0.2;
        font-weight: 700;
        color: #f9f9fa; }
      #screen #rating .rating-integer .rating-decimal {
        z-index: 2;
        width: 10%;
        height: 100%;
        transition: 0.4s all ease;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer; }
        #screen #rating .rating-integer .rating-decimal p {
          position: absolute;
          width: 100%;
          overflow: hidden;
          font-size: 5em;
          opacity: 0;
          font-weight: 700;
          transform: scale(0.5);
          transition: 0.4s all ease;
          color: #f9f9fa; }
      #screen #rating .rating-integer .rating-decimal:hover {
        width: 40%;
        background-color: rgba(249, 249, 250, 0.5);
        transition: 0.4s all ease; }
        #screen #rating .rating-integer .rating-decimal:hover p {
          opacity: 1;
          transform: scale(1);
          transition: 0.4s all ease; }
    #screen #rating .rating-integer:hover {
      width: 60%;
      background-color: rgba(249, 249, 250, 0.1);
      transition: 0.4s all ease; }
    #screen #rating .rating-form {
      display: none; }
