<%- contentFor('main') %>

<div id="home">

  <div class="home-content">
    <h1>cinema.me</h1>
    <h2>
      <span>An easy way</span> to keep track of all your favorite movies and series.<br />
      Register now for free and start building <span>your own movie/series portfolio</span>.
    </h2>
    <div class="buttons">
      <a href="/users/register">Register</a>
      <% if(!user) { %>
        <a href="/users/login">Login</a>
      <% } %>

    </div>
  </div>

  <div id="home-background" data-img="<%-randomBackdrop%>"></div>

</div>
