<%- contentFor('main') %>

<div class="content">
  <div class="content-inner">

    <h1>Welcome to cinema.me</h1>

    <p>
      Register for free and follow your favorite series with just a few clicks.
    </p>

  </div>
</div>
